node_modules/
dist/
dist-ssr/
.vite/

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# misc
*.log
.cache/
coverage/
